<html>
<head>
	<title>Simple Todo</title>
	<link rel="stylesheet" type="text/css" href="./css/todonew.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="./js/lib/jquery-3.4.1.min.js"></script>
	
</head>
<body>

	<div id="container">
		<h1>TO-DO LIST<i class="fa fa-plus"></i></h1>
		<input style="font-weight: 600;" type="text"  placeholder="Add New Todo">

		<ul>
			<li><span><i class="fa fa-trash" aria-hidden="true"></i></span>Buy Groceries</li>
			<li><span><i class="fa fa-trash" aria-hidden="true"></i></span>Call doctor</li>
			<li><span><i class="fa fa-trash" aria-hidden="true"></i></span>Visit Annie</li>
		</ul>	
	</div>


  <script type="text/javascript" src="./js/todonew.js"></script>
</body>
</html>